.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
}