@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.header {
    z-index: 1000;
    box-shadow: 0px 0px 10px black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    padding: 0.5rem 1rem;
    height: 2.5rem;
    background-color: rgb(255,255,255, 1);
    font-size: 0.8rem;
    @include tablet {
        padding: 0.5rem 2rem;
    }
    @include desktop {
        padding: 0.5rem 2rem;
    }

    &__left {
        width: 50%;
    }
    &__home {
        text-decoration: none; 
        color: black;
    }
    &__right {
        display: flex;
        justify-content: flex-end;
        width: 50%;
    }
    &__projects {
        text-decoration: none; 
        color: black;
    }
    &__login {
        text-decoration: none; 
        color: black;
        padding-left: 1rem; 
    }
}